<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "InstagramTestApp", root_path , id: "logo" %>
    <nav>
       <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        
        <% if session[:access_token].present? %>
          <li><%= link_to "インスタ解除", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "インスタ認証", oauth_connect_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>